In [1]:
# Importing Pandas Library
import pandas as pd

# reading file as a dataframe
df = pd.read_excel('Customer Call List.xlsx')

#Imported Data
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [2]:
# Removing Duplicate Data
df = df.drop_duplicates()

# Removing useless columns
df = df.drop(columns = "Not_Useful_Column")

# Cleaning Last_Name Column
df["Last_Name"] = df["Last_Name"].str.strip("123/._")

# Cleaning Phone_Number Column
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','-')
df["Phone_Number"] = df["Phone_Number"].str.replace('N-a','')
df["Phone_Number"] = df["Phone_Number"].fillna('')

#spliting and creating new address columns
df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2,expand=True)

# Changing "Y" to "Yes" and "N" to "No" in Paying Customer & Do_Not_Contact Columns
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('Y','Yes')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')
df['Paying Customer'] = df['Paying Customer'].str.replace('N','No')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Y','Yes')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('N','No')

# Removing NaN Values in Paying Customer & Do_Not_Contact Columns
df['Paying Customer'] = df['Paying Customer'].str.replace('No/a','')
df['Do_Not_Contact'] = df['Do_Not_Contact'].fillna('')

# Removing null Values across the DataFrame
df = df.replace('N/a')
df = df.fillna('')

# Removing Customers who does not want to get called or doesn't have a Phone Number
for i in df.index:
    if df.loc[i, 'Phone_Number'] == '':
        df.drop(i, inplace=True)
    elif df.loc[i, 'Do_Not_Contact'] == 'Yes':
        df.drop(i, inplace=True)
        
# Removing Useless Columns
df = df.drop(columns="Zip_Code")
df = df.drop(columns="Address")

# Index Reseting
df = df.reset_index(drop=True)

# Arranging Columns
df.insert(4, 'Street_Address', df.pop('Street_Address'))
df.insert(5, 'State', df.pop('State'))

#Final Data
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street_Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,,Yes,No
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,,No,No
3,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No
4,1013,Don,Draper,123-543-2345,2039 Main Street,,Yes,No
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,,Yes,No
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,,No,No
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,,No,No
8,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,Yes,No
9,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,Yes,No